<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Môžete nás nájsť na platformách:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/Github-Magovia" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-gem me-3"></i>Github Magovia
          </h6>
          <p>
            Github magovia vám prinášajú nové, nečakané a niekedy dokonca až
            šokujúce výsledky. Práve preto sme jednou z najväčších a najlepších spoločností
            mágov na Slovensku.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Naše ďalšie projekty
          </h6>
          <p>
            <a href="https://ais2.umb.sk/ais/start.do" class="text-reset">AIS2-Hack</a>
          </p>
          <p>
            <a href="https://lms.umb.sk/" class="text-reset">LMS-Backdoor</a>
          </p>
          <p>
            <a href="https://github.com/Github-Magovia" class="text-reset">Github-Trickery</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Kontakt
          </h6>
          <p><i class="bi bi-house-fill me-3"></i> Banská Bystrica, Tajovského 40</p>
          <p>
            <i class="bi bi-envelope-fill me-3"></i>
            spam@githubmagovia.sk
          </p>
          <p><i class="bi bi-telephone me-3"></i> + 421 420 419</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Github Magovia:
    <a class="text-reset fw-bold" href="https://github.com/Github-Magovia">GitHub</a>
  </div>
  <!-- Copyright -->
</footer>
