<div class="container-fluid bg-info p-1 text-white">
  <br>
  <h1 class="text-center">COVID-19 štatistiky</h1>
  <h4 class="text-center">Dátum: {{myDate | date:'d/MMM/YYYY, hh:mm:ss'}} </h4>
</div>

<div class="bg-custom"></div>

<div class="container p-3">
  <div class="row">
    <div class="col-md-4"><h2 class="bi-text-right">Krajina: </h2></div>
    <div class="col-md-4"><select (change)="getCountry($event.target.value)" class="form-control">
      <option *ngFor="let c of countries">
        {{c.Country}}
      </option>
    </select></div>
  </div>
</div>



<div class="container p-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-success p-3">
          <h2>{{country}} potvrdení </h2>
          <h3>{{confirmed}}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-primary p-3">
          <h2>{{country}} aktívne prípady</h2>
          <h3>{{active}}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-danger p-3">
          <h2>{{country}} mŕtvi</h2>
          <h3>{{death}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  //Ockovacia loteria-->
<div class="container-fluid bg-dark p-1 text-white">
  <br>
  <h1 class="text-center">Očkovacia lotéria</h1>
 <!-- <h4 class="text-center">Dátum: {{myDate | date:'d/MMM/YYYY, hh:mm:ss'}} </h4>-->
</div>
<div class="bg-custom2"></div>
<!-- SEARCH BUTTON -->
<div class="m-2">
  <button type="button" class="btn btn-primary"
          (click)="collapse.toggle(); filtering.reset(); refreshTable();"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
    Vyhladávanie
  </button>
</div>

<!-- VYHLADAVACIE POLIA - COLLAPSIBLE -->
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <form [formGroup]="filtering">
    <div class="container-fluid mb-3">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <label for="filter-id" class="col-form-label">ID:</label>
          <div>
            <input id="filter-id" type="number" min="0" class="form-control" formControlName="id"  (input)="refreshTable()">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <label for="filter-firstName" class="col-form-label">Meno:</label>
          <div>
            <input id="filter-firstName" type="text" min="0" class="form-control" formControlName="firstName"  (input)="refreshTable()">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <label for="filter-lastName" class="col-form-label">Priezvisko:</label>
          <div>
            <input id="filter-lastName" type="text" min="0" class="form-control" formControlName="lastName"  (input)="refreshTable()">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <label for="filter-amount" class="col-form-label">Výhra:</label>
          <div>
            <input id="filter-amount" type="number" class="form-control" formControlName="amount"  (input)="refreshTable()">
          </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary" (click)="filtering.reset(); refreshTable();">Resetovať filtre</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- DATATABLE -->
<form>
  <div class="table-responsive scroll-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortableLottery="id" (sort)="onSort($event)">ID</th>
        <th scope="col" sortableLottery="firstName" (sort)="onSort($event)">Meno</th>
        <th scope="col" sortableLottery="lastName" (sort)="onSort($event)">Priezvisko</th>
        <th scope="col" sortableLottery="amount" (sort)="onSort($event)">Výhra</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let winner of lotterySlice">
        <td>{{winner.id}}</td>
        <td>{{winner.firstName}}</td>
        <td>{{winner.lastName}}</td>
        <td>{{winner.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<!-- PAGINATION -->
<div class="p-2">
  <ngb-pagination class="d-flex col-12 justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshTable()">
  </ngb-pagination>

  <div class="d-flex col-12 justify-content-center">
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshTable()">
      <option [ngValue]="5">5 položiek na stranu</option>
      <option [ngValue]="10">10 položiek na stranu</option>
      <option [ngValue]="25">25 položiek na stranu</option>
      <option [ngValue]="50">50 položiek na stranu</option>
      <option [ngValue]="100">100 položiek na stranu</option>
    </select>
  </div>
</div>

