<br>
<div class="container">
<form [formGroup]="terminyForm">
  <div class="form-outline mb-4">
    <label class="form-label" for="personId">Vyber osobu: </label>
    <select  formControlName="personId" class="form-select" id="personId">
      <option *ngFor="let osoba of osoby" value="{{osoba.id}}">({{osoba.id}}) {{osoba.firstName}} {{osoba.lastName}}</option>
    </select>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="miesto">Vyberte miesto očkovania: </label>
    <select  id="miesto" class="form-select" formControlName="vaccinationCentre">
      <option value="Zvolen">Očkovacie centrum Zvolen</option>
      <option value="Bratislava">Očkovacie centrum Bratislava</option>
      <option value="Prešov">Očkovacie centrum Prešov</option>
      <option value="Košice">Očkovacie centrum Košice</option>
      <option value="Žilina">Očkovacie centrum Žilina</option>
      <option value="Trenčín">Očkovacie centrum Trenčín</option>
    </select>
  </div>
  <div class="form-outline datepicker">
    <label for="datOckovania" class="form-label">Vyberte dátum a následne čas očkovania: </label>
    <input type="date" formControlName="dateOfVaccination" class="form-control" id="datOckovania">
  </div>

 <br>
  <div class="container text-center" *ngIf="this.terminyForm.controls['dateOfVaccination'].valid">
  <div class="row">
  <div class="col-2">
    <button (click)="naplnCas('10:00:00')" ngDefaultControl class="btn btn-info text-white" formControlName="timeOfVaccination">10:00</button></div>
    <div class="col-2">
      <button (click)="naplnCas('10:30:00')" ngDefaultControl class="btn btn-info text-white" formControlName="timeOfVaccination">10:30</button></div>
    <div class="col-2">
      <button (click)="naplnCas('11:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >11:00</button></div>
    <div class="col-2">
      <button (click)="naplnCas('11:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >11:30</button></div>
    <div class="col-2">
      <button (click)="naplnCas('12:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >12:00</button></div>
    <div class="col-2">
      <button (click)="naplnCas('12:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination">12:30</button></div>
  </div>
  </div>
  <br>
  <div class="container text-center" *ngIf="this.terminyForm.controls['dateOfVaccination'].valid">
    <div class="row">
      <div class="col-2" >
        <button (click)="naplnCas('13:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >13:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('13:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >13:30</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('14:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >14:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('14:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >14:30</button></div>
      <div class="col-2">
        <button (click)="naplnCas('15:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination">15:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('15:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination">15:30</button></div>
    </div>
  </div>
  <br>
  <div class="container text-center" *ngIf="this.terminyForm.controls['dateOfVaccination'].valid">
    <div class="row">
      <div class="col-2" >
        <button (click)="naplnCas('16:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination">16:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('16:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >16:30</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('17:00:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >17:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('17:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination" >17:30</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('18:00:00')" ngDefaultControl class="btn btn-info text-white" formControlName="timeOfVaccination" >18:00</button></div>
      <div class="col-2" >
        <button (click)="naplnCas('18:30:00')" ngDefaultControl class="btn btn-info text-white"  formControlName="timeOfVaccination">18:30</button></div>
    </div>
  </div>
</form>
<br>
  <div class="text-center" *ngIf="this.terminyForm.controls['dateOfVaccination'].valid">
    <button
            (click)="add()"
            [attr.disabled]="terminyForm.valid? null : true" class="btn btn-lg btn-success ms-4 mb-2 mt-4 text-center">Pridaj termín</button>
  </div>
  <br>
</div>



